/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --decorated-color: #353430;
  --decorated-display: none;

  --title-color: #353430;

  --accent-title-color: #ffc2e6;

  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #ffeef6;

  --section-title-color: #353430;
  --section-description-color: #353430;

  --hover-color: #32312d66;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --decorated-color: #353430;
    --decorated-display: none;

    --title-color: #353430;

    --accent-title-color: #ffc2e6;

    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #ffeef6;

    --section-title-color: #353430;
    --section-description-color: #353430;

    --hover-color: #32312d66;
  }
}
