/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --decorated-color: #ff0070;

  --title-font-weight: 700;
  --title-color: #000028;

  --accent-title-color: #db00ff;
  --accent-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --text-font-family: "IBM Plex Mono";
  --text-line-height: 23.4px;
  --text-font-weight: 400;
  --text-font-size: 1.13rem;

  --bg-image: url(../images/cover-image-dark.png);

  --section-description-color: #f1b2ce;
}

@media (width >= 768px) {
  :root {
    --accent-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
